body{margin: 0;
    background-color: #3892e1;
}

.App > h1{
    padding-left: 60px;

}
.loading{
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}
.App > h1:hover{
    padding-left: 65px;
    color: white;

}
.App > ul > li {
   font-size: 16px;
}
.App > ul > li:hover {
    font-size: 16px;
    color: white;
}