.App{
    width: 600px;
    margin: auto;
}
.header_title{
    text-align: center;
    border-bottom: 1px solid lightgray;
}


.button>button{
    border: none;
    background-color: darkorange;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 10px;
}