.App{
    width: 600px;
    margin: auto;
}


.button>button{
    border: none;
    background-color: darkorange;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
}